{% ckan_extends %}
ckanext.googleanalytics.plugin._post_analytics
{% set tags = h.get_facet_items_dict('tags', c.search_facets, limit=10) %}
{% set organizations = h.get_facet_items_dict('organization', c.search_facets, limit=10) %}
{% set groups = h.get_groups_with_packages() %}
{% set featured_banner = h.get_featured_banner() %}

{% set stats = h.get_site_statistics() %}
{% set dataset_count = stats.dataset_count %}
{% set organization_count = h.get_organization_count() %}

{% block content %}
<main id="content">
  {{ self.flash() }}
  <section class="bg-blue-sapphire section-lg text-white" id="home-main-banner">
    <div class="container">
      <div class="row d-flex align-items-end flex-wrap">
        <div class="col-xs-8 col-xs-offset-2 col-md-5 col-md-offset-0 col-md-push-7 busquedaMain">
          <p class="fs-35 mt-20 leading-tight centerText centerSmall">
            Bienvenidas y bienvenidos al Portal de Datos Abiertos de Cuenca
          </p>
          <h1 class="fs-18 leftText centerSmall">
            Explora, conoce y accede a datos abiertos del Gobierno Autónomo Descentralizado de Cuenca
          </h1>
        </div>
      </div>
    </div>
  </section>
  <section class="section-lg">
    <div class="section-lg">
      <div class="container">
        <div class="row d-flex justify-content-center flex-wrap mt-4 mb-4">
          <div class="container">
            <div class="row d-flex justify-content-center flex-wrap align-items-center mt-0 bg-eagle-green">
              <p class="fs-18 fw-bold mt-8 mb-8">
                Consulta nuestros conjuntos de datos
              </p>
            </div>
            <div class="mt-20">
              {% snippet "snippets/pdae_theme_dataset_search.html", query=query %}
            </div>
            <div class="d-flex justify-content-center flex-wrap align-items-center mt-0 bg-eagle-green p-16 text-align-center">
              <p class="text-rojo"><strong>¿Qué son los datos abiertos?</strong></p>
              <p>Son datos en formato digital puestos a disposición de la ciudadania con características técnicas y jurídicas necesarias para que puedan ser usados, reutilizados y redistribuidos libremente, en cualquier momento, lugar y con cualquier objetivo, ya sea informarse, generar investigaciones, crear nuevos servicios o mejorar los existentes, etc. Los datos que se abran y publiquen deben responder a principios internacionales definidos por organismos que se encargan de motivar su desarrollo y uso.</p>
            </div>
            <div class="d-flex justify-content-center flex-wrap align-items-center mt-0">
              <p class="fs-22  mt-16 mb-8">
                Categorías
              </p>
            </div>
           
            <div class="row d-flex justify-content-center flex-wrap align-items-center mt-0">

              <div class="pdae-groups-list mt-8 mb-8">
                {% for group in groups %}
                <a href="{{ h.url_for(group.type ~ '.read', id=group.name) }}" class="pdae-group-list-item">
                  <div class="d-flex">
                    <div class="col">
                      <img src="{{ group.image_display_url }}" class="group-image" alt="{{ group.display_name }}">
                    </div>
                    <div class="col">
                      <h5>{{ group.display_name }}</h5>
                    </div>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="section has-bg-image text-white">
    <div class="container">
      <div class="row text-center justify-content-center d-flex align-items-center flex-wrap">
          <h2 class="fs-26 fw-light leading-tight">
            Conoce más sobre los datos abiertos de Cuenca
          </h2>
      </div>

      <div class="row text-center justify-content-center d-flex align-items-center flex-wrap">
       
          <a href="https://transparencia.cuenca.gob.ec/" target="_blank" class="btn btn-lg btn-blue-sapphire-i btn-home mt-20 fs-14">Transparencia Cuenca</a>
          <a href="https://cuencaparticipa.cuenca.gob.ec/" target="_blank" class="btn btn-lg btn-blue-sapphire-i btn-home mt-20 fs-14">Plataforma Cuenca Participa</a>
          <a href="https://cuencaparticipa.cuenca.gob.ec/processes/Datosabiertos/f/19/" target="_blank"  class="btn btn-lg btn-blue-sapphire-i btn-home mt-20 fs-14">¿Qué datos te gustaría que publiquemos?</a>
        
      </div>

    </div>
  </div>

  {% set show_featured_banner = h.show_featured_banner() %}
  {{ h.snippet("home/snippets/pdae_theme_featured_banner.html", show_featured_banner=show_featured_banner,
  featured_banner=featured_banner) }}

</main>
{% endblock %}

{%- block custom_styles %}
{{ super() }}
{% asset 'ckanext-pdae_theme/pdae_theme_swiper_css' %}
{% endblock %}

{%- block scripts %}
{{ super() }}
{% asset 'ckanext-pdae_theme/pdae_theme_swiper_js' %}
{% asset 'ckanext-pdae_theme/pdae_theme_slider' %}
{% endblock -%}
